@import url(../base-style.css);

ScrollPane {
    background: transparent;
    -fx-background: transparent;

    background-color: transparent;
    -fx-background-color: transparent;
}

ScrollPane > .viewport {
    background-color: transparent;
    -fx-background-color: transparent;
}

VBox {
    background-color: transparent;
    -fx-background-color: transparent;
}

BorderPane {
    background-image: url(../../images/gauze-01.jpg);
    -fx-background-image: url(../../images/gauze-01.jpg);

    background-size: cover;
    -fx-background-size: cover;

    background-repeat: no-repeat;
    -fx-background-repeat: no-repeat;

    background-position: center;
    -fx-background-position: center;
}
