@import url(../base-style.css);

.card {
    min-width: 300px;
    -fx-min-width: 300;

    max-width: 300px;
    -fx-max-width: 300;

    min-height: 400px;
    -fx-min-height: 400;

    max-height: 400px;
    -fx-max-height: 400;

    -fx-background-radius: 5;

    border-radius: 5px;
    -fx-border-radius: 5;

    background-color: white;
    -fx-background-color: white;

    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 10, 0, 0, 5);
}

.image-container {
    min-width: 300px;
    -fx-min-width: 300;

    max-width: 300px;
    -fx-max-width: 300;

    min-height: 1500px;
    -fx-min-height: 150;

    max-height: 150px;
    -fx-max-height: 150;

    background-repeat: no-repeat;
    -fx-background-repeat: no-repeat;

    background-position: center;
    -fx-background-position: center;

    background-size: cover;
    -fx-background-size: cover;

    -fx-background-radius: 5;
}

.product-info {
    -fx-alignment: CENTER;

    padding: 20px;
    -fx-padding: 20;

    -fx-spacing: 5;
}

/* tên sản phẩm */
.product-name {
    -fx-alignment: TOP_LEFT;

    -fx-wrap-text: true;

    max-width: 300px;
    -fx-max-width: 300;

    min-height: 60px;
    -fx-min-height: 60;

    max-height: 60px;
    -fx-max-height: 60;

    font-size: 18px;
    -fx-font-size: 18;

    font-weight: bold;
    -fx-font-weight: bold;

    -fx-text-fill: -fx-text-color;
    -fx-wrap-text: true;
}

/* Các tiêu đề bên trái */
.starting-price-field,
.start-time-field,
.end-time-field,
.time-field {
    -fx-text-fill: #555555;

    font-size: 13px;
    -fx-font-size: 13px;

    font-weight: normal;
    -fx-font-weight: normal;
}

.value {
    font-weight: bold;
    -fx-font-weight: bold;

    -fx-text-fill: black;
}

.starting-price {
    font-size: 13px;
    -fx-font-size: 13px;
    -fx-text-fill: -fx-forth-color;
}

.status {
    padding: 5px;
    -fx-padding: 5;

    background-color: green;
    -fx-background-color: green;

    -fx-background-radius: 10;

    border-radius: 10px;
    -fx-border-radius: 10;

    -fx-text-fill: -fx-third-color;
    font-weight: bold;
    -fx-font-weight: bold;
}

#btn {
    min-width: 80px;
    -fx-min-width: 80;

    min-height: 30px;
    -fx-min-height: 30;

    background-color: -fx-primary-color;
    -fx-background-color: -fx-primary-color;

    -fx-background-radius: 5;

    -fx-text-fill: -fx-third-color;

    font-weight: 700;
    -fx-font-weight: 700;

    -fx-alignment: center;

    cursor: hand;
    -fx-cursor: hand;
}

#btn:hover {
    background-color: -fx-forth-color;
    -fx-background-color: -fx-forth-color;
}
