# JWT
JWT_SECRET=abcxyz

# Database
DB_URL=jdbc:mysql://zephyr.proxy.rlwy.net:32243/auction_db
DB_USER=root
DB_PASSWORD=vGhcIvAXFhNwzGTOOWZTIGmJvyShpoST

# Cloudinary
CLOUD_NAME=deuqbo9ul
CLOUDINARY_UPLOAD_PRESET=bidnova_preset