# === Maven & Java ===
target/
*.class
*.jar
*.war
*.log

# === IDEs (VS Code, IntelliJ, Eclipse) ===
.vscode/
.idea/
*.iml
*.iws
.settings/
.project
.classpath

# === OS Files ===
.DS_Store
Thumbs.db

# === Git specific ===
.github/java-upgrade/.gitignore

# === Environment variables ===
.env

# === LaTeX ===
*.toc
*.synctex.gz
*.out
*.fls
*.aux
*.fdb_latexmk
