.btn-return {
    -fx-background-color: transparent;
    -fx-text-fill: #B71C1C;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-radius: 0 20 20 0;
    -fx-cursor: hand;
}
.btn-return:hover {
    -fx-background-color: #8A1515;
    -fx-text-fill: #FFFFFF;
}