@import url(../base-style.css);

ScrollPane .viewport {
    background-color: -fx-bgc;
    -fx-background-color: -fx-bgc;
}

VBox {
    background-color: transparent;
    -fx-background-color: transparent;
}

.card {
    min-width: 700px;
    -fx-min-width: 700;

    max-width: 700px;
    -fx-max-width: 700;

    -fx-background-radius: 16;

    padding: 40px 45px;
    -fx-padding: 40 45;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.13), 25, 0, 0, 12);

    background-color: white;
    -fx-background-color: white;
}

.title {
    font-size: 28px;
    -fx-font-size: 28;

    font-weight: bold;
    -fx-font-weight: bold;

    padding: 0 0 10px;
    -fx-padding: 0 0 10;

    -fx-text-fill: -fx-text-color;
}

.rule .label {
    font-size: 10px;
    -fx-font-size: 10;
}

.subtitle,
.rule .label {
    -fx-text-fill: -fx-text-color;
}

.to-signin {
    padding: 0 0 15px;
    -fx-padding: 0 0 15;

    font-size: 15px;
    -fx-font-size: 15;
}

.signin-label {
    -fx-underline: true;

    cursor: hand;
    -fx-cursor: hand;

    font-weight: bold;
    -fx-font-weight: bold;

    -fx-text-fill: -fx-primary-color;
}

.role .label {
    font-weight: bold;
    -fx-font-weight: bold;

    font-size: 14px;
    -fx-font-size: 14;

    -fx-text-fill: -fx-text-color;
}

.role .radio-button {
    cursor: hand;
    -fx-cursor: hand;

    font-size: 14px;
    -fx-font-size: 14;

    -fx-text-fill: -fx-text-color;
}

.role .radio-button:focused .radio {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    border-color: -fx-primary-color;
    -fx-border-color: -fx-primary-color;

    border-radius: 50%;
    -fx-border-radius: 50%;

    border-width: 2px;
    -fx-border-width: 2;

    -fx-border-insets: -2;
}

.name .text-field:focused,
.username:focused,
.password #passwordField:focused,
.password #passwordTextField:focused,
.confirm-password:focused,
.email-phone_number-sex .text-field:focused,
.email-phone_number-sex .combo-box:focused,
.btn-primary:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    border-color: -fx-primary-color;
    -fx-border-color: -fx-primary-color;

    -fx-background-radius: 8;

    border-radius: 8px;
    -fx-border-radius: 8px;

    border-width: 2px;
    -fx-border-width: 2;

    -fx-border-insets: -2;
}

.name,
.email-phone_number-sex {
    -fx-spacing: 35;
}

.name .text-field,
.username,
.password StackPane,
.password #passwordField,
.password #passwordTextField,
.password .eye-btn,
.confirm-password,
.email-phone_number-sex .text-field,
.email-phone_number-sex .combo-box,
.btn-primary {
    min-height: 50px;
    -fx-min-height: 50;

    font-size: 16px;
    -fx-font-size: 16;

    -fx-background-radius: 8;
    border-radius: 8px;
    -fx-border-radius: 8;
}

.name .text-field,
.username,
.password #passwordField,
.password #passwordTextField,
.confirm-password,
.email-phone_number-sex .text-field,
.email-phone_number-sex .combo-box {
    background-color: white;
    -fx-background-color: white;

    border-color: #e0e0e0;
    -fx-border-color: #e0e0e0;
}

.password .eye-btn {
    min-width: 50px;
    -fx-min-width: 50;

    font-size: 20px;
    -fx-font-size: 20;

    cursor: hand;
    -fx-cursor: hand;

    border-color: transparent;
    -fx-border-color: transparent;

    background-color: transparent;
    -fx-background-color: transparent;
}

.name .text-field,
.email-phone_number-sex .text-field,
.email-phone_number-sex .combo-box {
    min-width: 180px;
    -fx-min-width: 180;

    max-width: 180px;
    -fx-max-width: 180;
}

.text-field:focused,
.password-field:focused {
    -fx-highlight-fill: -fx-primary-color;
    -fx-highlight-text-fill: -fx-third-color;
}

.combo-box {
    background-color: white;
    -fx-background-color: white;

    -fx-background-radius: 8;

    border-radius: 8px;
    -fx-border-radius: 8px;
}

.combo-box .list-view {
    background-color: -fx-third-color;
    -fx-background-color: -fx-third-color;

    -fx-background-radius: 8;

    border-radius: 8px;
    -fx-border-radius: 8;

    -fx-text-fill: -fx-text-color;
}

.combo-box .list-view .list-cell {
    min-height: 36px;
    -fx-min-height: 36;

    max-height: 36px;
    -fx-max-height: 36;

    -fx-background-radius: 8;

    border-radius: 8px;
    -fx-border-radius: 8;
}

.combo-box .list-view .list-cell:hover,
.combo-box .list-view .list-cell:focused,
.btn-primary {
    background-color: -fx-primary-color;
    -fx-background-color: -fx-primary-color;

    -fx-text-fill: -fx-third-color;
}

.btn-primary {
    min-width: 600px;
    -fx-min-width: 600;

    cursor: hand;
    -fx-cursor: hand;

    font-weight: bold;
    -fx-font-weight: bold;
}

.btn-primary:hover {
    background-color: -fx-forth-color;
    -fx-background-color: -fx-forth-color;
}

.password HBox {
    font-size: 16px;
    -fx-font-size: 16;

    -fx-spacing: 20;
}
