@import url(../base-style.css);

VBox {
    -fx-alignment: CENTER;
}

.card {
    background-color: white;
    -fx-background-color: white;

    padding: 40px;
    -fx-padding: 40;

    -fx-background-radius: 8;

    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 5);
}

.title {
    font-size: 28px;
    -fx-font-size: 28px;

    font-weight: bold;
    -fx-font-weight: bold;

    color: -fx-text-color;
    -fx-text-fill: -fx-text-color;
}

.to-signup .label {
    font-size: 15px;
    -fx-font-size: 15;
}

.to-signup .subtitle {
    color: -fx-text-color;
    -fx-text-fill: -fx-text-color;
}

.to-signup .signup-label {
    color: -fx-primary-color;
    -fx-text-fill: -fx-primary-color;

    text-decoration: underline;
    -fx-underline: true;

    cursor: pointer;
    -fx-cursor: hand;

    font-weight: bold;
    -fx-font-weight: bold;
}

.username,
.password,
.password #passwordField,
.password #passwordTextField,
.password .eye-btn {
    min-height: 50px;
    -fx-min-height: 50;

    font-size: 16px;
    -fx-font-size: 16;
}

.password .eye-btn {
    min-width: 50px;
    -fx-min-width: 50;

    font-size: 20px;
    -fx-font-size: 20;

    cursor: pointer;
    -fx-cursor: hand;

    border-color: transparent;
    -fx-border-color: transparent;

    border-width: 0;
    -fx-border-width: 0;

    background-color: transparent;
    -fx-background-color: transparent;
}

.username:focused,
.password #passwordField:focused,
.password #passwordTextField:focused,
.password .eye-btn:focused,
.btn-primary:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    border-color: -fx-primary-color;
    -fx-border-color: -fx-primary-color;

    -fx-background-radius: 5;
    border-radius: 5px;
    -fx-border-radius: 5;

    border-width: 2px;
    -fx-border-width: 2;
}

.forgot-link {
    color: -fx-primary-color;
    -fx-text-fill: -fx-primary-color;

    text-decoration: underline;
    -fx-underline: true;

    cursor: pointer;
    -fx-cursor: hand;

    font-size: 14px;
    -fx-font-size: 14;
}

.btn-primary {
    min-height: 50px;
    -fx-min-height: 50;

    min-width: 500px;
    -fx-min-width: 500;

    font-size: 18px;
    -fx-font-size: 18;

    background-color: -fx-primary-color;
    -fx-background-color: -fx-primary-color;

    color: -fx-third-color;
    -fx-text-fill: -fx-third-color;

    font-weight: bold;
    -fx-font-weight: bold;
    -fx-background-radius: 5;

    cursor: pointer;
    -fx-cursor: hand;

    border-width: 0;
    -fx-border-width: 0;
}
